<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>

<div class="container">
    <h3 class="float-left">Artigos</h3>
    <a class="btn btn-primary float-right" href="/admin/articles/new">Nova artigo</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Slug</th>
                <th scope="col">Categoria</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(article =>{ %>
                <tr>
                    <th scope="row"><%= article.id %></th>
                    <td><%= article.title %></td>
                    <td><%= article.slug %></td>
                    <td><%= article.category.title %></td>
                    <td>
                        <a href="/admin/articles/edit/<%= article.id %>" class="btn btn-outline-warning">Editar</a>
                        <form method="POST" action="/articles/delete/<%= article.id %>" style="display: inline;" onsubmit="confirmDeletion(event, this)">
                            <button class="btn btn-outline-danger" >Deletar</button>
                        </form>  
                    </td>
                </tr>
            <% }) %>
        </tbody>        
    </table>
</div>

<script>    
    function confirmDeletion(event, form){
        event.preventDefault();
        let decision = confirm("Deseja excluir a artigo?");
        if(decision){
            form.submit();
        }    
    }
</script>

<%- include ('../../partials/footer.ejs')%>