<%- include ('../../partials/header.ejs')%>
<%- include ('../../partials/navbar.ejs')%>

<div class="container">
    <h3 class="float-left">Categotias</h3>
    <a class="btn btn-primary float-right" href="/admin/categories/new">Nova Categoria</a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Título</th>
                <th scope="col">Slug</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th scope="row"><%= category.id %></th>
                    <td><%= category.title %></td>
                    <td><%= category.slug %></td>
                    <td>
                        <a href="#" class="btn btn-outline-warning">Editar</a>
                        <form method="POST" action="/categories/delete/<%= category.id %>" style="display: inline;" onsubmit="confirmDeletion(event, this)">
                            <button class="btn btn-outline-danger" >Deletar</button>
                        </form>                        
                    </td>
                </tr>
            <% }) %>            
        </tbody>        
    </table>
</div>

<script>    
    function confirmDeletion(event, form){
        event.preventDefault();
        let decision = confirm("Deseja excluir a categoria?");
        if(decision){
            form.submit();
        }    
    }
</script>

<%- include ('../../partials/footer.ejs')%>